* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(249, 249, 249);
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
} */

.App-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

/* @keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
 main {
  display: flex;
  width: 80%;
  margin: 0 auto;
  /* justify-content: center; */
 }

/* .timeline {
  width: 80%;
} */

.subreddits {
  width: 25%;
  background: linear-gradient(rgb(143, 143, 143), rgb(187, 187, 187));
  margin: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
}

.subreddit {
  height: 2rem;
}

.articlePreviews, .selectedArticle {
  width: 80%;
  /* margin: 0 auto; */
}

.article {
  /* width: 80%; */
  margin: 1.5rem auto;
  padding: 1rem;
  /* background-color: rgb(119, 131, 131); */
  background: linear-gradient(rgb(143, 143, 143), rgb(187, 187, 187));
  border-radius: 10px;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
}

.articleSubreddit {
  font-weight: 600;
}

.articleDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
}

.articleStats {
  display: flex;
  /* width: 40%; */
}

.articleStats div {
  padding: 0 1rem;
}

.articleImage {
  /* max-width: 15rem; */
  max-width: 18rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.comment {
  padding: 1rem;
}

button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.unfollowButton {
  background-color: rgb(143, 143, 143);
  border: 1px rgb(53, 53, 53) solid;
}
